@tailwind components;

.range-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.range-slider-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range-slider-bar-handle {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 2px;
    z-index: 99;
}

.range-slider-bar-handle.thin {
    height: 2px;
}

.range-slider-bar-handle.circle {
    border-radius: 50%;
}

.range-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.range-slider-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.range-slider-vue-background {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2px;
    background: rgb(199, 199, 199);
    cursor: pointer;
}

.range-slider-vue-background.set {
    background: rgb(207, 207, 207);
}

.error {
    background: yellow;
    color: rgb(255, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}