/* filepath: e:/Sources/SignalsPatternsReact/src/components/switchButton/SwitchButton.css */
@tailwind components;

@layer components {

    /****/
    .switch-button-warning .switch-button-track {
        @apply bg-yellow-200;
    }

    .switch-button-warning .switch-button-track.switch-on {
        @apply bg-yellow-300;
    }

    .switch-button-warning .switch-button-track.switch-off {
        @apply bg-yellow-400;
    }

    .switch-button-warning .switch-button-thumb {
        @apply bg-yellow-100;
    }

    .switch-button-warning .switch-button-thumb.switch-on {
        @apply bg-yellow-500;
    }
}