/* filepath: e:/Sources/SignalsPatternsReact/src/components/switchButton/SwitchButton.css */
@tailwind components;

@layer components {

    /****/
    .switch-button-primary .switch-button-track {
        @apply bg-blue-100;
    }

    .switch-button-primary .switch-button-track.switch-on {
        @apply bg-blue-300;
    }

    .switch-button-primary .switch-button-track.switch-off {
        @apply bg-blue-400;
    }

    .switch-button-primary .switch-button-thumb {
        @apply bg-blue-100;
    }

    .switch-button-primary .switch-button-thumb.switch-on {
        @apply bg-blue-500;
    }
}