/* filepath: e:/Sources/SignalsPatternsReact/src/components/switchButton/SwitchButton.css */
@tailwind components;

@layer components {
    .switch-button {
        @apply flex items-center justify-center cursor-pointer select-none;
    }

    .switch-button.switch-horizontal {
        @apply rotate-0 h-10
    }

    .switch-button.switch-vertical {
        @apply -rotate-90 h-14;
    }

    /**2xs */
    .switch-button-2xs .switch-button-track {
        @apply relative w-10 h-4;
    }

    .switch-button-2xs .switch-button-thumb {
        @apply relative w-4 h-4;
    }

    /**xs */
    .switch-button-xs .switch-button-track {
        @apply relative w-11 h-5;
    }

    .switch-button-xs .switch-button-thumb {
        @apply relative w-5 h-5;
    }

    /**md */
    .switch-button-md .switch-button-track {
        @apply relative w-12 h-5;
    }

    .switch-button-md .switch-button-thumb {
        @apply relative w-5 h-5;
    }

    .switch-button-md .switch-button-thumb.switch-on {
        @apply translate-x-7;
    }

    /**lg*/
    .switch-button-lg .switch-button-track {
        @apply relative w-14 h-6;
    }

    .switch-button-lg .switch-button-thumb {
        @apply relative w-6 h-6;
    }

    .switch-button-lg .switch-button-thumb.switch-on {
        @apply translate-x-8;
    }

    /**xl*/
    .switch-button-xl .switch-button-track {
        @apply relative w-16 h-7;
    }

    .switch-button-xl .switch-button-thumb {
        @apply relative w-7 h-7;
    }

    .switch-button-xl .switch-button-thumb.switch-on {
        @apply translate-x-9;
    }

    /**2xl*/
    .switch-button-2xl .switch-button-track {
        @apply relative w-20 h-8;
    }

    .switch-button-2xl .switch-button-thumb {
        @apply relative w-8 h-8;
    }

    .switch-button-2xl .switch-button-thumb.switch-on {
        @apply translate-x-12;
    }

    /****/
    .switch-button-track {
        @apply relative w-12 h-6 bg-gray-400 rounded-full transition-colors duration-300 ease-in-out;
    }

    .switch-button-track.switch-on {
        @apply bg-blue-300;
    }

    .switch-button-track.switch-off {
        @apply bg-gray-400;
    }

    .switch-button-thumb {
        @apply absolute w-6 h-6 bg-white rounded-full shadow transform transition-transform duration-300 ease-in-out;
    }

    .switch-button-thumb.switch-on {
        @apply translate-x-6 bg-blue-500;
    }

    .switch-button.disabled {
        @apply cursor-not-allowed opacity-50;
    }
}