/* filepath: e:/Sources/SignalsPatternsReact/src/components/switchButton/SwitchButton.css */
@tailwind components;

@layer components {

    /****/
    .switch-button-secondary .switch-button-track {
        @apply bg-gray-200;
    }

    .switch-button-secondary .switch-button-track.switch-on {
        @apply bg-gray-300;
    }

    .switch-button-secondary .switch-button-track.switch-off {
        @apply bg-gray-400;
    }

    .switch-button-secondary .switch-button-thumb {
        @apply bg-gray-100;
    }

    .switch-button-secondary .switch-button-thumb.switch-on {
        @apply bg-gray-500;
    }
}