/* filepath: e:/Sources/SignalsPatternsReact/src/components/switchButton/SwitchButton.css */
@tailwind components;

@layer components {

    /****/
    .switch-button-info .switch-button-track {
        @apply bg-violet-300;
    }

    .switch-button-info .switch-button-track.switch-on {
        @apply bg-violet-300;
    }

    .switch-button-info .switch-button-track.switch-off {
        @apply bg-violet-400;
    }

    .switch-button-info .switch-button-thumb {
        @apply bg-violet-100;
    }

    .switch-button-info .switch-button-thumb.switch-on {
        @apply bg-violet-500;
    }
}