@layer components {
    .btn-wrapper {
        z-index: 0;
        @apply relative p-0 m-0 flex flex-grow items-center justify-center w-full h-full overflow-hidden select-none transition-all duration-150 ease-in-out;
    }

    .btn-wrapper .content {
        @apply flex w-full items-center justify-center;
    }

    .btn-wrapper.loading {
        @apply cursor-not-allowed;
    }

    .btn-wrapper.xxs {
        @apply text-04;
    }

    .btn-wrapper.xs {
        @apply text-08;
    }

    .btn-wrapper.sm {
        @apply text-10;
    }

    .btn-wrapper.md {
        @apply text-115;
    }

    .btn-wrapper.lg {
        @apply text-135;
    }

    .btn-wrapper.xl {
        @apply text-165;
    }

    .btn-wrapper.xxl {
        @apply text-200;
    }

    .btn-wrapper .icon {
        @apply flex w-6 h-6 items-center justify-center mr-2;
    }

    .btn-primary {
        @apply primary;
    }

    .btn-secondary {
        @apply secondary;
    }

    .btn-danger {
        @apply danger;
    }

    .btn-success {
        @apply success;
    }

    .btn-warning {
        @apply warning;
    }

    .btn-info {
        @apply info;
    }

    .btn-primary.disabled {
        @apply bg-blue-200 hover:bg-blue-50 cursor-not-allowed;
    }

    .btn-secondary.disabled {
        @apply bg-gray-200 hover:bg-gray-50 cursor-not-allowed;
    }

    .btn-danger.disabled {
        @apply bg-red-200 hover:bg-red-50 cursor-not-allowed;
    }

    .btn-success.disabled {
        @apply bg-green-200 hover:bg-green-50 cursor-not-allowed;
    }

    .btn-warning.disabled {
        @apply bg-yellow-200 hover:bg-yellow-50 cursor-not-allowed;
    }

    .btn-info.disabled {
        @apply bg-violet-500 hover:bg-violet-50 cursor-not-allowed;
    }

    span.ripple.primary {
        @apply bg-blue-200;
    }

    span.ripple.secondary {
        @apply bg-gray-200;
    }

    span.ripple.danger {
        @apply bg-red-200;
    }

    span.ripple.success {
        @apply bg-green-200;
    }

    span.ripple.warning {
        @apply bg-yellow-200;
    }

    span.ripple.info {
        @apply bg-violet-200;
    }

    span.ripple {
        position: absolute;
        z-index: 0;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
    }

    .btn-wrapper .ripple.animate {
        animation: makeRipple 300ms linear;
    }

    @keyframes makeRipple {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(2);
            opacity: 1;
        }
    }
}