@layer components {
    .btn-wrapper {
        @apply p-0 m-0 flex items-center justify-center overflow-hidden w-full h-full;
    }

    .btn-base {
        @apply flex py-1 px-2 w-full h-auto focus:ring-4 transition-all duration-150 ease-in-out overflow-hidden;
    }

    .btn-base.xs {
        @apply py-1 px-1;
    }

    .btn-base.sm {
        @apply py-1 px-1;
    }

    .btn-base.md {
        @apply py-1 px-2;
    }

    .btn-base.lg {
        @apply py-2 px-3;
    }

    .btn-base.xd {
        @apply py-2 px-4;
    }

    .btn-base.xl {
        @apply py-3 px-5;
    }

    .btn-base .content {
        @apply flex w-full items-center justify-center;
    }

    .btn-base .content.xs {
        @apply h-[20px];
    }

    .btn-base .content.sm {
        @apply h-[22px];
    }

    .btn-base .content.md {
        @apply h-[25px];
    }

    .btn-base .content.lg {
        @apply h-[25px];
    }

    .btn-base .content.xd {
        @apply h-[25px];
    }

    .btn-base .content.xl {
        @apply h-[25px];
    }

    .btn-base .icon {
        @apply flex w-6 h-6 items-center justify-center mr-2;
    }

    .btn-primary {
        @apply bg-blue-500 text-white hover:bg-blue-400;
    }

    .btn-secondary {
        @apply bg-gray-500 text-white hover:bg-gray-400;
    }

    .btn-danger {
        @apply bg-red-500 text-white hover:bg-red-400;
    }

    .btn-success {
        @apply bg-green-500 text-white hover:bg-green-400;
    }

    .btn-warning {
        @apply bg-yellow-500 text-white hover:bg-yellow-400;
    }

    .btn-info {
        @apply bg-violet-500 text-white hover:bg-violet-400;
    }

    .btn-primary.disabled {
        @apply bg-blue-200 hover:bg-blue-50 cursor-not-allowed;
    }

    .btn-secondary.disabled {
        @apply bg-gray-200 hover:bg-gray-50 cursor-not-allowed;
    }

    .btn-danger.disabled {
        @apply bg-red-200 hover:bg-red-50 cursor-not-allowed;
    }

    .btn-success.disabled {
        @apply bg-green-200 hover:bg-green-50 cursor-not-allowed;
    }

    .btn-warning.disabled {
        @apply bg-yellow-200 hover:bg-yellow-50 cursor-not-allowed;
    }

    .btn-info.disabled {
        @apply bg-violet-500 hover:bg-violet-50 cursor-not-allowed;
    }

    .btn-base span.primary {
        @apply bg-blue-200;
    }

    .btn-base span.secondary {
        @apply bg-gray-200;
    }

    .btn-base span.danger {
        @apply bg-red-200;
    }

    .btn-base span.success {
        @apply bg-green-200;
    }

    .btn-base span.warning {
        @apply bg-yellow-200;
    }

    .btn-base span.info {
        @apply bg-violet-200;
    }

    .btn-base span.ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
    }

    .btn-base .ripple.animate {
        animation: makeRipple 300ms linear;
    }

    @keyframes makeRipple {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(2);
            opacity: 1;
        }
    }
}