@tailwind components;

@layer components {
    .rte-input ul {
        list-style-type: disc;
        padding-left: 2em;
        margin: 0.5em 0;
    }

    .rte-input ul li {
        display: list-item;
        margin: 0.25em 0;
    }

    .rte-input ol {
        list-style-type: decimal;
        padding-left: 2em;
        margin: 0.5em 0;
    }

    .rte-input ol li {
        display: list-item;
        margin: 0.25em 0;
    }
}