@layer components {
    .drawer-container {
        @apply bg-gray-200 transition ease-in-out cursor-pointer select-none z-[9999] list-none shadow-xl;
    }

    .drawer-content {
        @apply absolute flex flex-col w-full h-full list-none justify-center items-center p-0 rounded mt-0;
    }

    .drawer-slot-overlay {
        @apply absolute flex w-full h-full bg-zinc-700 opacity-60 z-50;
    }

    @keyframes openOverlay {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 0.5;
        }
    }

    @keyframes closeOverlay {
        from {
            transform: scale(1);
            opacity: 0.5;
        }

        to {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes openDrawer {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes closeDrawer {
        from {
            transform: scale(1);
            opacity: 1;
        }

        to {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes openDrawerY {
        from {
            transform: scaleY(0);
        }

        to {
            transform: scaleY(1);
        }
    }

    @keyframes closeDrawerY {
        from {
            transform: scaleY(1);
        }

        to {
            transform: scaleY(0);
        }
    }

    @keyframes idle {
        100% {
            transform: scale(0);
            opacity: 0;
            z-index: -1;
        }
    }
}