@tailwind components;

@layer components {
    .select-container {
        @apply relative flex flex-col w-full h-72 bg-red-400;
    }

    .select-list {
        @apply flex flex-1 flex-col justify-center items-center p-1 rounded w-full h-full mt-1 cursor-pointer select-none;
    }

    .select-item {
        @apply flex flex-1 justify-start items-center bg-gray-200 p-1 rounded w-full h-full mt-1 select-none;
    }

    .select-item.selected {
        @apply bg-gray-900 text-gray-50;
    }
}