/** base */
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";
/** COMPONENTS */
@import "tailwindcss/components";
@import './style/globals.css';
@import './components/button/button.css';
/** utils */